<section id="details1" class="details1">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-12 aos-init aos-animate">
                <div class="icon-box mt-5 mt-lg-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="150">
                    <div>
                        <div class="ic-h4">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        </div>
                        <div class="ic-h4">
                            <h4>Trackify - Plan</h4>
                            <p>We aim to continuously add value to our customers and partners.</p>
                        </div>
                    </div>
                    <div>
                        <div class="ic-h4">
                            <div class="icon"><i class="bx bx-file"></i></div>
                        </div>
                        <div class="ic-h4">
                            <h4>TradeIn</h4>
                            <p>We scour the world to find high quality material at affordable prices so that our customers don’t have to.</p>
                        </div>
                    </div>
                    <div>
                        <div class="ic-h4">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                        </div>
                        <div class="ic-h4">
                            <h4>Container Number Recognition</h4>
                            <p>We build innovative software solutions to tackle pressing problems in international trade and logistics.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
